// @import '~material-design-icons/iconfont/material-icons.css';

header {
    width: 100%;
    z-index: 100;
    min-height: 75px;
    max-height: 75px;
    box-shadow: 0 1px 0 #E6EAF2;
    display: flex;
    flex-direction: row;
    align-items: center;
}
mat-toolbar {
    background-color: white;
}

.logo {
    width: 100%;
    min-height: 75px;
    max-height: 75px;
    a {
        img {
            min-height: 75px;
            max-height: 75px;
        }
    }
}